<%= form_with(model: @fcbook, local: true, url: choose_new_or_edit) do |form| %>
<% if @fcbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= @fcbook.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @fcbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fcbook_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="fcbook_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "ブログ一覧画面にもどる", fcbooks_path %>
