<%= link_to '新しく投稿する', new_fcbook_path %>
<% @fcbooks.each do |fcbook| %>
<div class="center-block" style="width: 600px;">
  <div class = "card">
    <div class = "card_head">
      <p>投稿者:<%= fcbook.user.name%></p>
      <p><%=l fcbook.created_at, format: :short%></p><br>
    </div>
    <div class = "card_body">
      <p><%= image_tag fcbook.image.url %></p>
      <p>タイトル<br><%= link_to fcbook.title, fcbook_path(fcbook.id) %></p><br>
      <p>内容<br><%= fcbook.content %></p><br>
      <% if fcbook.user.id == current_user.id %>
      <p><%= link_to '編集する', edit_fcbook_path(fcbook.id) %></p><br>
      <p><%= link_to '削除する', fcbook_path(fcbook.id), method: :delete, data: { confirm: '本当に編集していいですか？' } %></p><br>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<img src="/assets/dust_scratches.png" alt="">
